body {
    background: linear-gradient(120deg, #0f172a, #020617);
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chat-container {
    background: #020617;
    width: 400px;
    height: 600px;
    border-radius: 15px;
    padding: 15px;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.8);
    display: flex;
    flex-direction: column;
}

h2 {
    color: #38bdf8;
    text-align: center;
    margin-bottom: 10px;
}

#chat-box {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
    margin-bottom: 10px;
}

.user {
    background: #2563eb;
    padding: 8px 12px;
    border-radius: 10px;
    margin-bottom: 8px;
    color: white;
    max-width: 75%;
    align-self: flex-end;
}

.bot {
    background: #334155;
    padding: 8px 12px;
    border-radius: 10px;
    margin-bottom: 8px;
    color: white;
    max-width: 75%;
    align-self: flex-start;
}

.input-area {
    display: flex;
    gap: 5px;
}

input {
    flex: 1;
    padding: 10px;
    border-radius: 8px;
    border: none;
    outline: none;
}

button {
    background: #38bdf8;
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}

.clear-btn {
    background: #ef4444;
    color: white;
}
